@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? family= Lagosta & display=swap');

@import url('https://fonts.googleapis.com/css2? family= Rubik:wght@300 & display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif; 
    --fonte2: 'Lobster', cursiva;
    --fonte3: 'Rubik', sem serifa;
}

* { /*Stilo global*/
    margin: 0px;
    padding: 0px;
}

html, body { /*Stilo duplo*/
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 10vh;
}

header > p {
    padding-bottom: 50px;
}

header a, footer a { /*Stilo para link no header e no footer*/
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover { /*Stilo ao passar o mouse no header e no footer*/
    text-decoration: underline;
}

section { /*Todas as SECTION. Superior e Inferior*/
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 4.5vh; /*Aumenta e Diminuir de acorco com tamnho da sua tela*/
    font-family: var(--fonte3);
}

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: rgb(211, 204, 204);
    color: rgb(0, 0, 0);
}

section.imagem {
    background-color: rgb(48, 46, 46);
    color: white;
    box-shadow: inset 6px 6px 13px 0px black;
    background-attachment: fixed;
}

section.imagem > p { /*Caixa de Texto Background*/
   display: inline-block;
   padding: 9px;
   border-radius: 7px;
   background-color: rgba(0, 0, 0, 0.438);
   text-shadow: 2px 2px 0px black;
}

section#img01 {
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
    background-size: cover; /*Organizar mais s imagens*/
}

section#img02 {
    background-image: url('../imagens/background002.jpg');
    background-size: cover; /*Organizar mais s imagens*/
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 2.5vh;
}

.testeimg {
         width: 67vh;
        height: 50vh;
        max-width: 670px;
        min-width: 280px;
        
}

section#div.testeimg {
    text-align: center;
    background-color: chartreuse;
 

}

